* {
  box-sizing: border-box;
}
.list {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.background {
  background-image: url('../../img/6ba92ae3e9952ea16ccfee7576237ca1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

.pageNumber {
  text-align: center;
}
.currentPage {
  text-align: end;
  margin-right: 20px;
}

.filterForm {
  display: flex;
}