* {
  font-family: Roboto, sans-serif;
}

.CardWrapper {
  display: flex;
  width: auto;
  margin-top: 30px;
  position: relative;
  /* justify-content: space-around; */
}

.About {
  margin-top: -20px;
  margin-left: 20px;
  font-size: 15px;
  max-width: 400px;
  color: black;
  -webkit-text-stroke: 0.5px rgb(5, 5, 199);
}

.GenresBlock {
  display: flex;
}

.Genres {
  display: flex;
  margin-right: 10px;
}
.OverviewBlock {
  width: 380px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}
